@page
@model WeeklyMeals.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "All Recipes";
}

<h1>All Recipes</h1>

<div class="card-columns" style="column-count:3;">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="card">
            <img class="card-img-top" height="200px" src="@Url.Content(@recipe.ImageUrl)" />
            <div class="card-body">
                <h3 class="card-title"><a asp-page="/Recipes/Details" asp-route-ID="@recipe.RecipeID">@recipe.Name</a></h3>
                <div class="align-self-bottom" style="margin-top: auto;">

                </div>
            </div>
        </div>
    }
</div>
