@page
@model WeeklyMeals.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "All Recipes";
}

<!--<a asp-page="/Recipes/Create">
    <input type="button" value="Add Recipe" />
</a>-->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a asp-page="/Recipes/Create" class="btn"><i class="fa fa-plus"></i> Add Recipe</a>
        </div>
    </div>
</nav>

<div class="row" style="margin-left: 100px; margin-right: 100px; background-color:#f2f2f2;">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="col-sm-4" style="margin-bottom:30px">
            <div class="card">
                <a class="card-block stretched-link text-decoration-none" asp-page="/Recipes/Details" asp-route-ID="@recipe.RecipeID"></a>
                <img class="card-img-top" src="@Url.Content(@recipe.ImageUrl)" />
                <div class="card-body">
                    <div class="title">@recipe.Name</div>
                </div>
            </div>
        </div>
    }
</div>
