/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.ingredients-header {
    color: black;
    font-size: 36px;
    border-bottom: 0;
}

.grocery-list-component-item {
    font-size: 13px;
    color: black;
    font-family: Arial;
    font-weight: normal;
    border: 0;
}

.tr-odd {
    background-color: #f2f2f2;
}

span {
    cursor: pointer;
}

.number {
    margin: 100px;
}

.card {
    border-radius: 4px;
    border: none;
    background: #fff;
    /*box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;*/
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.card:hover {
    /*transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);*/
}


a .navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-tacobell {
    background-color: #dedede;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    color: black;
    display: inline-block;
    padding: 25px 0;
    transform: skew(0deg, -10deg);
    width: 100%;
}
/* Provide sufficient contrast against white background
a {
    color: #0366d6;
}
 */
.btn-primary {
    color: #fff;
    background-color: #df4661;
    border: 0px;
}

.btn {
    font-family: Overpass,Arial,Tahoma,sans-serif;
    font-weight: 600;
    border-radius: 0;
}

.btn-primary:hover {
    background-color:#d43551;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-family: Overpass,Arial,Tahoma,sans-serif;
    color: #5cb8b2;
    font-weight: 700;
}

h3 {
    text-transform: uppercase;
    font-size: 1.75rem;
}

h4, .h4 {
    text-transform: uppercase;
    font-size: 1.125rem;
}

.title {
    /*font-size: 28px;
    color: #002940;*/
    color: black;
    font-size: 1.125rem;
    font-family: Overpass,Arial,Tahoma,sans-serif;
    font-weight: 600;
}

a {
   text-decoration: none;
}

.title:hover {
    color: #d43551;
    text-decoration: none;
}

.recipe-title {
    font-size: 1.125rem;
}

.recipe-additional-info {
    font-size: 1.125rem;
    font-family: Overpass,Arial,Tahoma,sans-serif;
    color: #828282;
}

body, button, input, select, textarea {
    font-size: 14px;
    color: #002940;
    font-family: Overpass,Arial,Tahoma,sans-serif;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
