@page
@using WeeklyMeals.Models
@model WeeklyMeals.Pages.GroceryShoppingModel
@{
}
@{
    ViewData["Title"] = "Grocery List";
}

<h1>Grocery List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Food
            </th>
        </tr>
    </thead>
    <tbody>
        @{ string tempAisle = ""; }
        @foreach (var item in Model.MealPlans)
        {
            <h3>@item.Name</h3>
            foreach (var recipe in item.MealPlanRecipes)
            {
                foreach (var ingred in recipe.Recipe.Ingredients)
                {
                    if (!ingred.Food.GroceryAisle.Name.Equals(tempAisle))
                    {
                        <tr>
                            @if (!ingred.Food.GroceryAisle.Name.Equals(tempAisle))
                            {
                                <td class="alert-danger">
                                    @Html.DisplayFor(modelItem => ingred.Food.GroceryAisle.Name)
                                </td>
                            }
                        </tr>
                    }
                    <tr>
                        <td>
                            <!-- Food name-->
                            @Html.DisplayFor(modelItem => ingred.Food.Name)
                        </td>
                    </tr>
                }

            }
        }
    </tbody>
</table>
