@page
@using WeeklyMeals.Models
@model WeeklyMeals.Pages.GroceryShoppingModel
@{
}
@{
    ViewData["Title"] = "Grocery List";
}

<h1>Grocery List</h1>

<form asp-page="./GroceryShopping" method="get">
    <div class="form-actions no-color">
        <p>
            Choose meal plan:
            <select asp-for="SelectedMealPlanId" asp-items="Model.Options">
                <option value="">Pick your meal plan</option>
            </select>
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @* Html.DisplayNameFor(model => model.GroceryAisles[0].Name) *@
                Food
            </th>
        </tr>
    </thead>
    <tbody>
        @{ string tempAisle = ""; }
        @foreach (var item in Model.MealPlans)
        {
            foreach (var recipe in item.MealPlanRecipes)
            { 
                foreach (var ingred in recipe.Recipe.Ingredients)
                {
                    if (!ingred.Food.GroceryAisle.Name.Equals(tempAisle))
                    {
                        <tr>
                            @if (!ingred.Food.GroceryAisle.Name.Equals(tempAisle))
                            {
                                <td class="alert-danger">
                                    @Html.DisplayFor(modelItem => ingred.Food.GroceryAisle.Name)
                                </td>
                            }
                        </tr>
                    }
                    <tr>
                        <td>
                            <!-- Food name-->
                            @Html.DisplayFor(modelItem => ingred.Food.Name)
                        </td>
                    </tr>
                }

            }
        }
    </tbody>
</table>
