@page
@using WeeklyMeals.Models.WeeklyMealsViewModels
@model WeeklyMeals.Pages.GroceryShoppingModel
@{
}
@{
    ViewData["Title"] = "Grocery List";
}

<h1>Grocery List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Food
            </th>
        </tr>
    </thead>
    <tbody>
        @{ string tempAisle = ""; }
        @foreach (var item in Model.FoodsGroups)
        {
            if (!item.AisleName.Equals(tempAisle))
            {
                <tr>
                    @if (!item.AisleName.Equals(tempAisle))
                    {
                        <td class="alert-danger">
                            @Html.DisplayFor(modelItem => item.AisleName)
                        </td>
                        tempAisle = item.AisleName;
                    }
                </tr>
            }
            <tr>
                <td>
                    <!-- Food name-->
                    @Html.DisplayFor(modelItem => item.FoodName), @String.Format("{0:0.0}", item.TotalAmount) @Html.DisplayFor(modelItem => item.AmountType)
                </td>
            </tr>
        }
    </tbody>
</table>
