@page
@using WeeklyMeals.Models.WeeklyMealsViewModels
@model WeeklyMeals.Pages.GroceryShoppingModel
@{
}
@{
    ViewData["Title"] = "Grocery List";
}
@functions {

    public static string FormatMeasurement(double Amount, string SizeType)
    {
        string numberFormat = "{0:0.0}";
        if (Amount % 1 <= .1)
        {
            numberFormat = "{0:0}";
        }
        if (Amount > 1 && (SizeType.Equals("cup") || SizeType.Equals("bag") || SizeType.Equals("each")))
        {
            return string.Format(numberFormat + " {1}s", Amount, SizeType);
        }
        else
        {
            return string.Format(numberFormat + " {1}", Amount, SizeType);
        }
    }
}

<h3>Grocery List</h3>

<table class="table table-hover">
    <tbody>
        @{ string tempAisle = ""; }
        @foreach (var item in Model.FoodsGroups)
        {
            if (!item.AisleName.Equals(tempAisle))
            {
                <tr>
                    @if (!item.AisleName.Equals(tempAisle))
                    {
                        <td class="ingredients-header" style="text-transform: uppercase">
                            @Html.DisplayFor(modelItem => item.AisleName)
                        </td>
                        tempAisle = item.AisleName;
                    }
                </tr>
            }
            <tr>
                <td>
                    <!-- Food name-->
                    <div class="grocery-list-component-item">
                        @FormatMeasurement(item.TotalAmount, item.AmountType) @Html.DisplayFor(modelItem => item.FoodName)
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
