@page
@model WeeklyMeals.Pages.MealPlans.WeekendPrepModel
@using WeeklyMeals.Models.WeeklyMealsViewModels
@{
}

@{
}
@{
    ViewData["Title"] = "Weekend Prep";
}
@functions {

    public static string FormatMeasurement(double Amount, string SizeType)
    {
        string numberFormat = "{0:0.0}";
        if (Amount % 1 <= .1)
        {
            numberFormat = "{0:0}";
        }
        if (Amount > 1 && (SizeType.Equals("cup") || SizeType.Equals("bag")))
        {
            return string.Format(numberFormat + " {1}s", Amount, SizeType);
        }
        else if (SizeType.Equals("each"))
            {
                return string.Format(numberFormat + " {0}s", Amount);
            }
        {
            return string.Format(numberFormat + " {1}", Amount, SizeType);
        }
    }
}

<h3 style="padding-top: 58px;">Chopping</h3>

<table class="table">
    <tbody>
        @foreach (var item in Model.FoodsGroups)
        {
            <tr>
                <td>
                    @FormatMeasurement(item.TotalAmount, item.AmountType)
                    @Html.DisplayFor(modelItem => item.FoodName),   
                    @Html.DisplayFor(i => item.PrepType)
                </td>
            </tr>
        }

    </tbody>
</table>

