@page
@model WeeklyMeals.Pages.MealPlans.WeekendPrepModel
@using WeeklyMeals.Models.WeeklyMealsViewModels
@{
}

@{
}
@{
    ViewData["Title"] = "Weekend Prep";
}

<h1>Weekend Prep</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Food
            </th>
            <th>
                Size
            </th>
            <th>
                SizeType
            </th>
            <th>
                Prep
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FoodsGroups)
        {
        <tr>
            <td>
                <!-- Food name-->
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                <!-- Amount -->
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                <!-- Amount -->
                @Html.DisplayFor(modelItem => item.AmountType)
            </td>
            <td>
                <!-- Prep way-->
                @Html.DisplayFor(i => item.PrepType)
            </td>
        </tr>
        }

    </tbody>
</table>

